# .circleci/config.yml

version: 2.1

jobs:
  build:
    docker:
      - image: golang:1.21-alpine
    working_directory: /go/src/github.com/ethereum-optimism/presigner
    steps:
      - checkout

  test:
    docker:
      - image: golang:1.21-alpine
    working_directory: /go/src/github.com/ethereum-optimism/presigner
    steps:
      - checkout
      - run: go test ./...

  e2e-test:
    circleci_ip_ranges: true
    docker:
      - image: us-docker.pkg.dev/oplabs-tools-artifacts/images/ci-builder:v0.35.0
    working_directory: /go/src/github.com/ethereum-optimism/presigner
    steps:
      - checkout
      - run:
          command: |
            # DO NOT MERGE without merging the eip712sign change: https://github.com/base-org/eip712sign/pull/10
            # go install github.com/base-org/eip712sign@v0.0.7
            git clone https://github.com/zchn/eip712sign.git
            cd eip712sign
            git checkout patch-1
            go build
            go install
            cd ..
            make deps
            go run presigner.go \
              --chain 1 \
              --rpc-url "https://ci-mainnet-l1.optimism.io" \
              --target-addr 0x95703e0982140d16f8eba6d158fccede42f04a4c \
              --safe-addr 0x9BA6e03D8B90dE867373Db8cF1A58d2F7F006b3A \
              --safe-nonce 1000 \
              --json-file tx/example.json \
              create
            # test sign --mnemonic
            go run presigner.go \
              --json-file tx/example.json \
              --mnemonic "test test test test test test test test test test test junk" \
              sign
            # test sign --sender override
            go run presigner.go \
              --json-file tx/example.json \
              --mnemonic "test test test test test test test test test test test junk" \
              --sender 0xE7dEA1306D9F829bA469d1904c50903b46ebd02e \
              sign

workflows:
  build_test:
    jobs:
      - build
      - test
      - e2e-test
